* {
    font-family: Helvetica, sans-serif
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 20px;
}

    header h1 {
        display: block;
        font-size: 400%;
    }

section {
    width: 50%;
    margin: 10px 25% 0;
    border: 2px solid #444;
    padding: 8px;
}

textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
